.status {
  width: max-content;
  font-size: 0.8rem;
  padding: 0.1rem 0.6rem;
  border-radius: 1rem;
}
.pending-status {
  background-color: var(--pending);
  border: 1px solid var(--pending-border);
}
.process-status {
  background-color: var(--process);
  border: 1px solid var(--process-border);
}
.resolved-status {
  background-color: var(--resolved);
  border: 1px solid var(--resolved-border);
}
