:root {
  --background: oklab(95.815% 0 -0.00011);
  --title: oklch(26.033% 0.00003 271.152);
  --text: oklch(35.233% 0.00004 271.152);
  --text-error: oklch(43.295% 0.17767 29.223);
  --text-link: oklch(35.528% 0.15318 270.877);
  --button-primary: oklch(44.411% 0.1919 261.807);
  --button-primary-hover: oklch(40.555% 0.1744 261.852);
  --text-button-primary: oklch(96.416% 0.00011 271.152);
  --button-secondary: oklch(44.411% 0.1919 261.807 / 0.075);
  --button-secondary-hover: oklch(44.411% 0.1919 261.807);
  --text-button-secondary: oklch(44.411% 0.1919 261.807);
  --text-button-secondary-hover: oklch(96.416% 0.00011 271.152);
  --button-danger: oklch(43.295% 0.17767 29.223 / 0.075);
  --button-danger-hover: oklch(43.295% 0.17767 29.223);
  --text-button-danger: oklch(43.295% 0.17767 29.223);
  --text-button-danger-hover: oklch(96.416% 0.00011 271.152);
  --dialog: oklab(90.67% 0 -0.0001);
  --option: oklch(44.411% 0.1919 261.807 / 0.075);
  --option-hover: oklch(44.411% 0.1919 261.807 / 0.15);
  --option-checked: oklch(44.411% 0.1919 261.807 / 0.2);

  /* Status colors */
  --pending: oklch(97.259% 0.13453 107.774 / 0.7);
  --process: oklch(83.048% 0.0851 277.038 / 0.7);
  --resolved: oklch(92.553% 0.11997 157.478 / 0.7);
  --pending-border: oklch(84.545% 0.18263 108.378);
  --process-border: oklch(51.423% 0.27143 266.51);
  --resolved-border: oklch(78.301% 0.22507 148.285);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  background-color: var(--background);
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: var(--text-link);
}
button {
  color: var(--text-button-primary);
  background-color: var(--button-primary);
  border: 1px solid var(--button-primary);
  font-weight: 600;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: var(--button-primary-hover);
}
button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
ul {
  list-style: none;
}
h1,
h2,
h3 {
  color: var(--title);
}
h3 {
  font-weight: 500;
}
